<h1 id="home_logo">Plant-Collection</h1>
<% if logged_in? %>
  <div class="row">
    <h3>植物一覧</h3>
      <%= render 'shared/feed' %>
    </div>
    <%= paginate(@feed_items)%>
  </div>
<% else %>
  <div class="center jumbotron">


    <p>Plactionとは...</p>
    <p>自分の好きな植物を共有できる</p>
  </div>
  <%= link_to "今すぐ始めよう！", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>