<h1 id="home_logo">Plant-Collection</h1>
<% if logged_in? %>
  <div class="row">

  </div>
<% else %>
  <div class="center jumbotron">


    <p>Plactionとは...</p>
    <p>自分の好きな植物を共有できる</p>
  </div>
<% end %>