    <div class="col-md-8">
        <h1>List</h1>
        <ol class="followings-followers">
            <% @followings.each do |followings| %>
                <div class="gravatar"><%= gravatar_for followings %></div>
                <li class="name"><%= link_to followings.name, user_path(followings.id)%></li>
                
                <br>
            <% end %>
        </ol>
    </div>