<div class="status-profile">
    <h1 class= "text-left"><%= @user.name %> のフォローリスト</h1>
    <HR class="hr">
    <% @followings.each do |followings| %>
        
        <table class="status-profile-list">
            <tr>
                <td class="gravatar"><%= gravatar_for followings %></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= link_to followings.name, user_path(followings.id), class: "name" %></td>
                <td>
                    <!--<%= render 'users/follow_form' %>-->
                </td>
            </tr>
        </table>

        <HR class="hr">
    <% end %>
</div>