<li class="item-list", id="item-<%= item.id %>">

  <% if item.image? %>
　　<%= image_tag item.image.thumb.url %>
　　
　<% else %>
　<% end %>
　
  <span class="timestamp">
    Posted <%= time_ago_in_words(item.created_at) %> ago.
    <% if current_user == item.user %>
      <%= link_to "delete", item, method: :delete, data: { confirm: "削除します。"}%>
    <% end %>
  </span>
</li>