// add item form
.box2 {
  max-width: 800px;
  margin: 40px auto;
  padding-top: 10px;
  
  #name_form{
    width: 100%;
    font-size: 45px;
    font-weight: bold;
    outline: none;

  }
  input#name_form{
    padding: 42px;
    border:none;
  }
  #description_form{
    width: 100%;
    font-size: 20px;
  }
  input#description_form{
    padding: 40px;
    border:none;
  }
  #price_form{
    font-size: 18px;
  }
  input#price_form{
    max-width: 350px;
  }
}