
// add item form
.box2 {
  max-width: 600px;
  margin: 40px auto;
//   border: 1px solid #ddd;
//   background: #fafafa;
//   box-shadow: 0 1px 1px rgba(0,0,0,0.1);
//   border-radius: 3px;
//   .box-title {
//     margin: 0;
//     margin-bottom: 20px;
//     padding: 30px 20px;
//     font-weight: normal;
//     background: #fff;
//     border: none;
//     border-top-left-radius: 3px;
//     border-top-right-radius: 3px;
//   }
//   .box-inner {
//     padding: 30px;
//   }
  input{
      .form_control{
         border:none;          
      }
    // border:none;
//     background:none;
    // padding: 30px;
  }
}

