<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <%= link_to "Plation", "#", id: "logo",class: "navbar-btn" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "ログイン", "#", class: "navbar-btn"  %></li>
                <li><%= link_to "新規登録", "#", class: "btn-info navbar-btn" %></li>
            </ul>
        </nav>
    </div>
</header>